PORT = port

DB = adapter
DB_URI = dburi
DB_TESTING = dbtesting

NODE_ENV = stage

SECRET_ACCESS_TOKEN = key
SECRET_REFRESH_TOKEN = key

SMTP_KEY = key
SMTP_PORT = port
SMTP_EMAIL = email
SMTP_SERVICE = service