<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forgot Password</title>
  </head>
  <body>
      <section style="text-align: center; color: white; background-color: #292C3E; padding: 25px">
          <div>
              <div style="margin: 50px 0px;">
                <h2 style="font-size: 30px; font-weight: bold;">Replace you password</h2>
              </div>
              <h4 style="color:#E5F876; font-size: 20px;">Use this link to change your password. It has an expiration time, so don't take too long.</h4>
              <div style="text-align: left; margin-left: 10px;">
                  <p style="font-size: 16px; font-weight: bold;">Link:</p>
                  <p style="color: #E5F876; font-size: 12px; font-weight: bold;">{{link}}</p> 
              </div>
              <div style="margin-left: 10px;">
                <p style="color: #E5F876; font-size: 18px; text-align: left; font-weight: bold;">- Ecommerce CoderHouse.</p>
              </div>
          </div>
      </section>
  </body>
</html>